#foto {
    width: 200px;
    margin: 2rem 0;
    border-radius: 50% 

}

#cv {
    background-color: aliceblue;
}

#avatar {
    background-color: antiquewhite;
}

#contacto {
    background-color: powderblue;
}

#fondo {
    background-color: whitesmoke;
}

#cv1 {
    background-color: aliceblue;
}

#avatar1 {
    background-color: antiquewhite;
}

#contacto1 {
    background-color: powderblue;
}