@{
    ViewData["Title"] = "Mis Conocimientos";
}
<h1>@ViewData["Title"]</h1> <br>

<body id="cv1">

<h3>EDUCACIÓN:</h3> <br>

<p> IES Ramon Casas i Carbó (5-8-2014)– (8-9-2018) [Educación Secundaria Obligatoria].</p>

<p>Centre d’estudis Monlau (12-9-2018 )– (7-6-2020) [Ciclo de grado Medio de Microinformática i redes].</p>

<p>Centre d’estudis Monlau (14-9-2020 )– (14-6-2022) [Ciclo de grado Superior de Desarrollo de Aplicaciones WEB].</p><br>

<h3>Experiencia Laboral:</h3> <br>

<h4>DEA System SpA</h4>

<p>Mi trabajo consistía en reparar/montar equipos enviados por los
clientes. (9-2-2020 )– (16-5-2020).</p>

<p>Mi trabajo consistía en reparar/montar equipos enviados por los
clientes. (14-3-2022 )– (16-6-2022).</p>

<h3>Idiomas:</h3>

<p>-Nivel medio de inglés</p>
<p>- Nivel alto Catalán</p>
<p>- Nivel alto Castellano</p> <br>

 <img src="~/img/aptitud.png">

</body>

